extends ../template/layout
include ../mixins/form-helper.jade

block content
  .row
    .small-12.columns
      h1(style='text-align: center;')= song.title + ' | Edit'
  .row
    .small-12.columns
      form(action='/songs/#{song.id}', method='post')
        input(type='hidden', name='_method', value='put')
        fieldset
          legend edit mix
          .row
            mixin field(6, 'title', 'Title', song.title, null, true)
            mixin field(6, 'duration', 'Song Duration (sec)', song.duration)
          .row
            mixin field(6, 'filename', 'File Name', song.filename)
            mixin field(6, 'art', 'Song Image', song.art)
          .row
            .small-12.columns
              label(for='lyrics') Lyrics:
              textarea(value=song.lyrics, name='lyrics', style='height: 200px;')= song.lyrics
          .row
            .small-12.columns
              p Genres:
          .row
            .small-12.columns
              each genre in genres
                .chkbox
                  input(type='checkbox', value=genre.id, name='genres', checked=_.any(song.genres, function(g){return g.id === genre.id}))
                    //- checked function returns either true or false in order to show genres that are currently selected within the Song model
                    //- _.any function: takes all genres within the Song model, and asks "are there any matches that show g === genre.id (found in the checkbox value)" Returns the first true, stops searching after that.
                  span.genre= genre.name
          .row
            .small-2.columns.small-offset-8: a.button.radius.alert.small.expand(href='/songs') Cancel
            .small-2.columns: button.radius.success.small.expand(type='submit') Save Post